body{

color:blue;
background-color: grey;
}

a{
text-decoration:none;
}

a:hover{
     background: cornflowerblue;
}


img{

border-radius: 10%;



}

img:hover {

      transform:scale(1.2);
}

.fig{
margin-left: 35%;
}